In [1]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline

In [5]:
# set display options
pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 300)

In [6]:
# read in the data
train = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [7]:
train.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [8]:
train.shape

(29523, 11)

In [19]:
new_df = train.groupby(by="fuel_type_code_pudl")["fuel_cost_per_unit_burned"].agg(["mean"]).sort_values(by="mean", ascending=True)

In [20]:
new_df

                            mean
fuel_type_code_pudl
gas                    13.659397
other                  18.253856
waste                  19.518122
coal                   67.421830
oil                   168.877086
nuclear              4955.157002

In [23]:
# standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

percentile_75 = train["fuel_mmbtu_per_unit"].quantile(.75)
std = train["fuel_mmbtu_per_unit"].std()

In [24]:
percentile_75, std

(17.006, 10.600220307806886)

In [26]:
# skewness and kurtosis for the fuel quantity burned 
train["fuel_qty_burned"].skew(), train["fuel_qty_burned"].kurt()

(15.851495469109503, 651.3694501337732)

In [30]:
# Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 
# (Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

total_null = train.isnull().sum()[tr
                                  ain.isnull().sum() > 0]
percentage = total_null / train.shape[0] * 100

pd.concat([total_null, percentage], axis=1, keys=["Total_Missing_Values", "Percentage"])

           Total_Missing_Values  Percentage
fuel_unit                   180    0.609694

In [73]:
-0.000437 > -0.037863

True

In [74]:
-0.01 < -0.001

True

In [71]:
# features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
(train.corr())["fuel_cost_per_unit_burned"].sort_values(ascending=False)

fuel_cost_per_unit_burned       1.000000
report_year                     0.013599
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
fuel_mmbtu_per_unit            -0.010034
fuel_qty_burned                -0.018535
utility_id_ferc1               -0.037863
Name: fuel_cost_per_unit_burned, dtype: float64

In [69]:
# For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
df = train.groupby(by=["report_year", "fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].mean().reset_index()

In [70]:
df

     report_year fuel_type_code_pudl  fuel_cost_per_unit_burned
0           1994                coal                  31.546467
1           1994                 gas                  22.161183
2           1994             nuclear                3211.033155
3           1994                 oil                  56.398759
4           1994               other                   9.728083
5           1994               waste                   2.198417
6           1995                coal                  30.677442
7           1995                 gas                  18.067406
8           1995             nuclear                5262.364918
9           1995                 oil                 158.037885
10          1995               other                  12.238467
11          1995               waste                  -8.759045
12          1996                coal                  29.454299
13          1996                 gas                   3.444577
14          1996             nuclear                1625.802122
15          1996                 oil                  33.481425
16          1996               other                  20.009375
17          1996               waste                   4.004182
18          1997                coal                 104.897309
19          1997                 gas                   3.389444
20          1997             nuclear                3632.061645
21          1997                 oil                  33.052368
22          1997               other                  12.826917
23          1997               waste                   5.975348
24          1998                coal                  27.616234
25          1998                 gas                  14.515720
26          1998             nuclear                2066.460860
27          1998                 oil                  38.362603
28          1998               other                  14.089250
29          1998               waste                  11.905450
30          1999                coal                  38.361101
31          1999                 gas                  34.011957
32          1999             nuclear                1103.786105
33          1999                 oil                 617.802292
34          1999               other                  20.890692
35          1999               waste                  10.216071
36          2000                coal                 249.203055
37          2000                 gas                  21.149532
38          2000             nuclear                2006.703250
39          2000                 oil                 250.133341
40          2000               other                  10.001400
41          2000               waste                 -34.938643
42          2001                coal                  41.622623
43          2001                 gas                  22.820150
44          2001             nuclear                1347.547227
45          2001                 oil                 201.087386
46          2001               other                  11.880500
47          2001               waste                  14.499933
48          2002                coal                  27.623988
49          2002                 gas                   8.090923
50          2002             nuclear                1763.496588
51          2002                 oil                 130.900072
52          2002               other                  -0.608143
53          2002               waste                  16.962533
54          2003                coal                  94.085441
55          2003                 gas                  17.791918
56          2003             nuclear                1986.384533
57          2003                 oil                 119.139791
58          2003               other                  -8.547667
59          2003               waste                  13.497750
60          2004                coal                  29.913239
61          2004                 gas                  12.836376
62          2004             nuclear                2379.615462
63          2004                 oil                 250.393728
64          2004               other                  21.849500
65          2004               waste                  18.167467
66          2005                coal                  34.281426
67          2005                 gas                   8.978108
68          2005             nuclear                3139.745600
69          2005                 oil                  56.413000
70          2005               other                  12.699333
71          2005               waste                  22.389786
72          2006                coal                  37.928697
73          2006                 gas                   8.387918
74          2006             nuclear                5885.019708
75          2006                 oil                  69.145450
76          2006               other                  27.272000
77          2006               waste                  23.547056
78          2007                coal                  39.288397
79          2007                 gas                   8.671224
80          2007             nuclear                7747.266650
81          2007                 oil                 188.662874
82          2007               other                  20.444571
83          2007               waste                  25.118471
84          2008                coal                  44.507292
85          2008                 gas                  35.357514
86          2008             nuclear               11327.641000
87          2008                 oil                 138.858390
88          2008               other                  30.277143
89          2008               waste                  29.626375
90          2009                coal                 142.805197
91          2009                 gas                  24.600196
92          2009             nuclear                8641.194050
93          2009                 oil                  82.878013
94          2009               other                  25.565875
95          2009               waste                  35.232571
96          2010                coal                 280.467547
97          2010                 gas                   8.583996
98          2010             nuclear               10106.651600
99          2010                 oil                  87.446778
100         2010               other                  53.607833
101         2010               waste                  39.745105
102         2011                coal                  52.634721
103         2011                 gas                   6.676826
104         2011             nuclear               10446.587545
105         2011                 oil                 320.719649
106         2011               other                  29.905667
107         2011               waste                  28.772889
108         2012                coal                  53.657789
109         2012                 gas                   7.097253
110         2012             nuclear               11459.466238
111         2012                 oil                 151.183332
112         2012               other                  56.030750
113         2012               waste                  34.693588
114         2013                coal                  55.093312
115         2013                 gas                   6.358808
116         2013             nuclear               12159.611300
117         2013                 oil                 115.674765
118         2013               other                  60.831333
119         2013               waste                  29.019571
120         2014                coal                  52.244736
121         2014                 gas                   8.908729
122         2014             nuclear               11457.906450
123         2014                 oil                 728.104615
124         2014               other                   0.661000
125         2014               waste                  32.866333
126         2015                coal                  49.769534
127         2015                 gas                  13.299795
128         2015             nuclear                9944.308857
129         2015                 oil                  97.911968
130         2015               other                   0.595000
131         2015               waste                  34.959444
132         2016                coal                  46.447385
133         2016                 gas                   4.261252
134         2016             nuclear               10691.877950
135         2016                 oil                  96.928637
136         2016               other                   0.609000
137         2016               waste                  31.710529
138         2017                coal                  45.983336
139         2017                 gas                   9.853550
140         2017             nuclear                9874.574650
141         2017                 oil                 111.663367
142         2017               waste                  30.138600
143         2018                coal                  44.967758
144         2018                 gas                   9.605542
145         2018             nuclear                8663.358050
146         2018                 oil                 133.214969
147         2018               waste                  41.310750

In [68]:
df = df[df["fuel_type_code_pudl"] == "coal"]
df

     report_year fuel_type_code_pudl  fuel_cost_per_unit_burned
0           1994                coal                  31.546467
6           1995                coal                  30.677442
12          1996                coal                  29.454299
18          1997                coal                 104.897309
24          1998                coal                  27.616234
30          1999                coal                  38.361101
36          2000                coal                 249.203055
42          2001                coal                  41.622623
48          2002                coal                  27.623988
54          2003                coal                  94.085441
60          2004                coal                  29.913239
66          2005                coal                  34.281426
72          2006                coal                  37.928697
78          2007                coal                  39.288397
84          2008                coal                  44.507292
90          2009                coal                 142.805197
96          2010                coal                 280.467547
102         2011                coal                  52.634721
108         2012                coal                  53.657789
114         2013                coal                  55.093312
120         2014                coal                  52.244736
126         2015                coal                  49.769534
132         2016                coal                  46.447385
138         2017                coal                  45.983336
143         2018                coal                  44.967758

In [61]:
fuel_burned_1994 = df[df["report_year"] == 1994]["fuel_cost_per_unit_burned"].values[0]
fuel_burned_1998 = df[df["report_year"] == 1998]["fuel_cost_per_unit_burned"].values[0]

In [62]:
change = (fuel_burned_1998 - fuel_burned_1994) / fuel_burned_1994 * 100

In [63]:
fuel_burned_1998 ,fuel_burned_1994

(27.61623433874713, 31.546467368421077)

In [64]:
change

-12.458551963280119

In [65]:
train.groupby(by="report_year")["fuel_cost_per_unit_delivered"].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64